# Django
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
#ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
#ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,192.168.137.1
ALLOWED_HOSTS=*

# Database
DB_NAME=smartlab_db
DB_USER=smartlab_user
DB_PASSWORD=smartlab_password
DB_HOST=db
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
